<div id="<%= dom_id administrator %>">
  <p>
    <strong>Name:</strong>
    <%= administrator.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrator.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= administrator.password %>
  </p>

</div>
