<div class="box-content">

  <p style="color: green"><%= notice %></p>
  
  <div class="box-controller">
    <div class="box-controller-title">
      <h1>Administrador</h1>
    </div>
    <div>
      <%= link_to "Novo", new_administrator_path, class: "btn-default" %>
      <%= link_to "Sair", logout_path, class: "btn-default" %>
    </div>
  </div>
    
  <div class="table-administrator">
    <table>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Ações</th>
      </tr>
    <% @administrators.each do |administrator| %>
    <%= render administrator %>
    <% end %>
  </table>
  </div>
</div>