/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;

}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c4c4c4;
}

.box-login{
    margin-top: 10vh;
    background-color: #fff;
    width: 300px;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px #cccc;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
 }

.form-component{
    margin-top: 20px;
}

.form-input input{
    width: 90%;
    height: 34px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border-style: none;
    border: 1px solid #cccc;
    margin-top: 10px;
    box-sizing: border-box;
}

.btn-default{
    padding: 0 16px;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-style: none;
    border-radius: 2px;
    border: 1px solid #cccc;
    cursor: pointer;
    margin:10px;
    text-align: center;
    line-height: 36px;
    height: 36px;
    text-decoration: none;
    height: 40px;
}

.form-btn{
   text-align: right;
}

.error-default{
    color: red;
    font-weight: 300;
    margin-left: 10px;
    height: 20px;

}

/* ## */

.box-content{
    margin-top: 10vh;
    background-color: #fff;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px #cccc;
}

.box-controller{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-controller-title h1{
    color: blue;
    display: inline;
    font-size: 26px;
    text-transform: capitalize;
    display: inline;
}

.table-administrator table{
    border-collapse: left;
    width: 100%;
}
.table-administrator td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table-administrator  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .box-link{
      display: flex;
      margin-top: 20px;
  }

  .box-content-modal{
      display: flex;
      flex-direction: row;
      justify-content: center;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px #cccc;
    font-size: 20px;
    font-weight: 300;
  }
